.my-form {
    /* Ваши стили для формы */
  }
  .v-input__details{
    margin: 0px 0px 10px 0px;
  }
  .input-dnld{
    max-width: 240px;
  }
  .section-comment-line{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fffdfb;
    padding: 0px 0px 100px 0px;
  }
  .otz-title{
    color: #313654;
    font-size: 36px;
    font-weight: 700;
    line-height: 110%;
    margin: 0px 0px 40px 0px;
    }
    .fu-gruppy a.f-linky{
          font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    color: #ffffff;
    font-family: 'Inter';
    white-space: nowrap;
    }

  .otz-title{
    font-weight: 900;
    color: #313654;
    font-size: var(--f4);
  }
  .v-selection-control .v-label{
    font-weight: 500;
    opacity: 1;
    font-size: 20px;
  }
  .v-btn.button-send-otz{
    width: 280px;
    height: 54px;
    background: linear-gradient(88.32deg, #0b7455 0%, #06936a 100%);
    border-radius: 15px;
    margin: 0px;
    box-shadow: none;
  }
  .v-input--error .v-messages__message{
    font-size: 14px;
    color: rgb(176,0,32);
  }
  .v-input__control * {
    font-size: 14px;
  }
  .fank .v-card-actions .v-btn{
    background: #3d7eff;
    display: flex;
  }
  .fank .v-card{
    overflow: hidden;
  }
  .image-comment{
    max-height: 400px;
  }
  .v-dialog>.v-overlay__content>.v-card{
    overflow: hidden;
  }
  .fank *{
    text-align: center;
  }
  .fank .v-card-actions{
    display: flex;
    justify-content: center;
  }
  .my-input {
    /* Ваши стили для полей ввода */
  }
  .v-card--variant-elevated {
    box-shadow: none;
}
  .v-btn.v-btn--density-default .v-btn__content{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--f3);
    font-weight: 700;
    border-radius: 15px;
    white-space: nowrap;
    text-transform: none;
    color: #fff;
  }
  .my-comments h2{
    font-size: var(--f4);
    color: #313654;
    font-weight: 900;
  }
  .my-checkbox {
    /* Ваши стили для чекбокса */
  }
  
  .my-button {
    /* Ваши стили для кнопки */
  }
  
  .my-dialog {
    /* Ваши стили для всплывающего окна */
  }
  .my-comments h2{
    margin: 0px 0px 15px 0px;
  }
  .my-comments{
    margin: 40px 0px 0px 0px;
  }
  .button-send-otz{
    background: linear-gradient(88.32deg, #344597 0%, #496DA9 100%);
  }
  .exit-btn {
    /* Добавьте стили по вашему усмотрению, например, измените цвет и стиль текста, чтобы сделать ссылку выделяющейся */
    color: blue;
    text-decoration: underline;
    cursor: pointer;
    padding: 0px 0px 0px 4px;
  }
  .v-selection-control__wrapper{
    display: contents;
  }
  .button-send-otz:hover {
    background: #b71313;
    background-color: #edf3ff!important;
    box-shadow: none;
    border: 1px solid #272727;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .button-send-otz:hover .v-btn__content{
    color: #272727!important;
  }
  .v-card--variant-elevated{
    margin: 10px 0px;
  }
  .image-comment{
    object-fit: contain;
    width: 100%;
  }
  @media(max-width:767px){
    .section-comment-line{
      margin: 60px 0px;
    }
  }

  .section.section-bl5.form-out1 .btn-title{
  /*  margin: 0px 0px -10px 0px;
    padding: 15px 0px 0px 10px;*/
   /* padding: 0px;*/
  }
  .form-b-b-b-t{

  }
  .form-call .v-input__details{
    display: none!important;
  }

  .form-call  .v-input__control *{
    font-size: 10px;
  }

  .checkbox-content {
    display: flex;
    align-items: baseline;
  }
  .form-call .v-selection-control__input i{
    font-size: 16px;
  }
  .type-btn-vue{
    display: flex;
    border-radius: 4px;
    border: 1px solid #8195c2;
    position: relative;
  }
  .type-btn-vue img{
    margin: 0px 10px 0px 0px;
    position: absolute;

    z-index: 1;
    left: 20px;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .type-btn-vue .v-field__field{
    max-height: 40px;
  }
  .type-btn-vue .v-field__input{
    padding: 0px 0px 0px 50px;
    min-height: 40px;
    background-color: #f6f6f6;
  }
  .v-dialog{
    z-index: 100000000!important;
  }

  .section-bl5 .type-btn{
    padding: 0px 20px;
  }
  .section-bl5 .maininput{
    min-height: 40px;
  }
  
  #lentserv .v-application{
    overflow: visible!important;
    background: transparent;
  }
    
  #lentserv .v-main{
    overflow: visible;
    background: transparent;
  }
  .section-btn.section-btn-v12 {
    width: 100%;
}


.form-well .v-text-field__slot{
  padding: 0px!important;
  border: 0px!important;
}
.v-dialog__content.v-dialog__content--active{
  width: 100vw;
  overflow: hidden;
  background-image: none;
  flex-direction: column;
  height: 100vh;
  background-color: #2c3354d7;
  position: fixed;
  top: 0px;
  left: 0px;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
}
.v-dialog{
  width: fit-content!important;
  overflow: visible!important;
}
.form-call .v-input__control .v-text-field__details{
display: none!important;
}
.form-well .novaid .v-input__slot{
  border: 0px!important;
}
.form-well .type-btn.novalid{
  border: 1px solid red;
}



@font-face {
  font-family: 'Bellota';
  src: url('../fonts/Bellota-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Mon';
  src: url('../fonts/MuseoSansCyrl-300.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Mon';
  src: url('../fonts/MuseoSansCyrl-500.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Mon';
  src: url('../fonts/MuseoSansCyrl-700.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'Mon';
  src: url('../fonts/MuseoSansCyrl-900.ttf');
  font-weight: 900;
}
/*
@font-face {
  font-family: 'app';
  src: url('../fonts/applemyungjo-regular.ttf');
  font-weight: 400;
}*/


.v-application--is-ltr .v-window__prev{
  display: none!important;
}
.v-application--is-ltr .v-window__next{
  display: none!important;
}
.otz-title{
  font-size: 32px;
  position: relative;
  font-weight: 700;
  width: fit-content;
}
.otz-title:after {
  content: '';
  height: 7px;
  width: 100%;
  background: linear-gradient(45deg, #2d3354 0%, #5f79ac 100%);
  position: absolute;
  bottom: -15px;
  left: 0px;
}

.uni-social{
  display: flex;
  flex-direction: row;
  background-color: #fff;
      width: fit-content;
      margin: 7px 0px;
      border-radius: 7px;
  }
  .uni-social-im{
  width: 32px;
  }
  .uni-social-link{
  padding: 5px 7px;
  }
  .section.section-bl5.form-out .form-call{
    height: fit-content;
  }
  .v-card .v-card-text{
    background: #739eee36;
    margin: 10px;
  }
  .v-img__img--contain{
    max-height: 80vh;
  }
  .v-responsive__content{
    display: flex;
    justify-content: flex-end;
  }
  .v-btn--icon.v-btn--density-default{
    background-color: #fff!important;
  }

.s-cl-row {
  width: 20%;
  max-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
}
.s-cl-bl{
  display: flex;
  flex-wrap: wrap;
}

.s-cl-im-d{
  width: 100%;
  height: 100%;
}
.section .s-cl-title{
  font-size: var(--f4);
  color: #313654;
  font-weight: 700;
  margin: 0px 0px 40px 0px;
}
.section.s-cl{
padding: 0px 0px 80px 0px;
}

@media(max-width:1200px){
  .s-cl-row {
    width: 33.3%;
  }
}

@media(max-width:767px){
  .s-cl-row {
        height: 100px;
  }
  .section.s-cl{
    padding: 0px;
  }
}

.section-bl11 .swiper-slid-text {
  white-space: normal;
  max-width: 218px;
}
.swiper-slide{
  padding:0px 20px;
}
.section-bl11 .swiper-slid-col{
  min-width:215px;
}
footer .section{
  width: fit-content;
}
#cont{
  display: flex;
  justify-content: flex-end;
  margin: 170px 0px 0px 0px;
}
footer .section .container{
  padding: 0px;
}
.v-carousel-item {
  height: fit-content;
}
#id2 .v-carousel{
min-height: fit-content!important;
height: fit-content!important;
}
#id2 .v-carousel__item {
  min-height: fit-content!important;
height: fit-content!important;
}
#id2 .n2-prev{
  margin: 0px 10px 0px 0px;
}

.s4-by{
  display: flex;
}
.section.s4{
  background: #E1EEFF;
box-shadow: 0px 4px 6px 0px rgba(165, 170, 183, 0.50);
}
.s4-rowy{
  width: 25%;
}
.s4-coly span{
  color: #436BB6;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 100%;
  position: relative;
  left: -20px;
}
.s4 .s4-r{
  color: #909090;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 140%; /* 19.6px */
white-space: normal;
}
.s4-coly{
  padding: 60px 40px;
}
.s4 .s4-l{
  padding: 0px;
}


.n4 .container{
  display: flex;
  flex-direction: column;
}
.n4-b-bl-top{
  width: 100%;
  justify-content: space-between;
  display: flex;
}
.n4{

}
.n4-b-bl-top .n4-row{
  width: calc(33.3% - 40px);

}
.n4-title{
  color: #739EEE;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  padding: 20px 0px;
}
.n4-text{
  color: #313654;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}
.n4-b-bl-center-r{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: calc(66.66% - 20px);
}
.n4-b-bl-center-r .n4-row{
  width: calc(50% - 30px);
}
.n4-row{
  margin: 0px 0px 40px 0px;
}
.n4-image-bl{
  width: calc(33.3% - 40px);
  object-fit: none;
}
.n4-b-bl-center-l{
  display: flex;
  justify-content: space-between;
}

.n4 .boom{
  display: flex;
  justify-content: flex-end;
}
.n4 .section-btn.section-btn-v1:hover{
  background-color: #06936a;
}


.bl-loyalty {
  margin: 150px 0px 0px 0px;
}
.loyalty-block {
  display: flex;
  justify-content: space-between;
  margin: 40px 0px 0px 0px;
}
.loyalty-row {
  width: calc(25% - 10px);
}
.loyalty-col {
  padding: 20px 15px;
  border-radius: 10px;
  border: 1px solid #ACB1E0;
  min-height: 355px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.loyalty-t {
}
.loyalty-title {
  color: #739EEE;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  margin: 0px 0px 10px 0px;
}
.loyalty-text {
  color: #313654;
  font-size: 17px;
  font-style: normal;
  font-weight: 300;
}
.loyalty-b {
}
.loyalty-nume {
  font-size: 64px;
font-style: normal;
font-weight: 300;
color: #739EEE;
font-family: Inter;
}
.loyalty-sebtext {
  font-size: 14px;
font-style: normal;
font-weight: 300;
color: #313654;
font-family: Inter;
}
section .container{
  padding: 0px;
}
*{
  line-height: normal;
}
.loyalty-main-title{
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0px 54px 0px 0px;
  height: -moz-fit-content;
  height: fit-content;
  white-space: nowrap;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
}



















.vacansy-section {
}
.container {
}
.vacansy {
  margin: 190px 0px 150px 0px;
}
.vacansy-block {
}
.vacansy-top {
}
.vacansy-title {
color: #313654;
font-size: 36px;
font-weight: 700;
}
.vacansy-bottom {
  margin: 40px 0px 0px 0px;
}
.vacansy-list {

}
.vacansy-row {
  width: 100%;
  border-top: 1px solid #A8A8A8;
}
.vacansy-col {
  width: 100%;

  padding: 0px 0px 20px 0px;

}
.vacansy-subtitle {
  padding: 20px 0px;
color: #B8B8B8;
font-size: 16px;
font-weight: 400;
text-transform: uppercase;
}
.vacansy-item {
}
.vacansy-body {
  max-width: 750px;
}
.vacansy-card {
  padding: 35px 28px 28px 28px;
  border-radius: 5px;
  border: 1px solid #F5F5F5;
  margin: 0px 0px 30px 0px;
  box-shadow: 2px 2px 12px 0px rgba(0, 0, 0, 0.25);
}
.vacansy-card-t {
  margin: 0px 0px 20px 0px;
}
.vacansy .v-expansion-panel::before{
  display: none!important;
}
.vacansy-h1 {
color:#303233;
font-family: Arial;
font-size: 32px;
font-weight: 700;
margin: 0px 0px 5px 0px;
}
.vacansy-h2 {
color: #303233;
font-family: Arial;
font-size: 24px;
font-weight: 400;

}
.vacansy-card-c {
  margin: 0px 0px 30px 0px;
}
.vacansy-h3 {
color: #303233;
font-family: Inter;
font-size: 16px;
font-weight: 400;
}
.vacansy-card-b {
}
.vacansy-btn-contact {
color: #5AA153;
font-family: Arial;
font-size: 16px;
font-weight: 400;
max-width: 635px;
padding: 13px;
display: flex;
justify-content: center;
align-items: center;
border-radius: 5px;
border: 1px solid #5AA153;
cursor: pointer;
}
.vacansy-text {
color:  #303233;
font-family: Inter;
font-size: 16px;
font-weight: 400;
margin: 0px 0px 15px 0px;
}
.vacansy-ul {
  margin: 0px 0px 15px 0px;
}
.vacansy-ul-title {
color: #303233;
font-family: Arial;
font-size: 18px;
font-weight: 700;
margin: 0px 0px 15px 0px;
}
.vacansy-ul-bl {
}
.vacansy-li {
color: #303233;
font-family: Arial;
font-size: 16px;
font-weight: 400;
line-height: 156%;
}
.vacansy-skilbox {
}
.vacansy-skil-title {
color: #303233;
font-family: Arial;
font-size: 18px;
font-weight: 700;
margin: 0px 0px 15px 0px;
}
.vacansy-skil-lent {
  display: flex;
  flex-wrap: wrap;

}
.vacansy-skil {
color: #303233;
font-family: Arial;
font-size: 14px;
font-weight: 400;
border-radius: 5px;
background: #EDEFF0;
padding: 6px 6px;
width: fit-content;
display: flex;
}
.vacansy-skil-row{
  padding: 0px 5px;
  margin: 0px 0px 5px 0px;
}
.vacansy .vacansy-subtitle{
  color: #B8B8B8;
}
.vacansy .vacansy-subtitle.v-expansion-panel-header--active{
  color: #313654;
}
.vacansy .v-expansion-panel--active:not(:first-child), .v-expansion-panel--active + .v-expansion-panel{
  margin-top: 0px!important;
}
.vacansy .theme--light.v-expansion-panels .v-expansion-panel{
  background: none;
}


.v-item--active .vacansy-col{
background: linear-gradient(180deg, #FBFCFF 0%, #FFFDFA 100%);
/*background-image: url(./assets/images/Vector.png);*/
}
.v-expansion-panel-content.vacansy-item .v-expansion-panel-content__wrap{
  background-image: url(./assets/images/Vector.png);
  background-position: bottom right;
}


.section.n5 .form-well .v-text-field{
 margin: 0px 0px 15px 0px;
}

.section.n5 .form-well .v-text-field .v-label {
  top: 5px!important;
  left: 15px!important;
}
.v-dialog__content{
  overflow: scroll!important;
}
.slimi{
  cursor: auto!important;
}
.section.n5 .form-well .v-text-field input{
  max-height: 50px;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
}

.v-application .header a {
  color: #313654;
}
.otz-cont{
  width: 100%;
  max-width: 360px;
  height: 360px;
  background-color: #EDF3FF;
  padding: 15px;
  border-radius: 8px;
}
.otz-row{
  display: flex;
  flex-direction: column;
}
.otz-top{
  display: flex;
  align-items: flex-start;
}
.otz-text{
  width: 100%;
  white-space: normal;
  color: #313654;
  font-size: 12px;
  font-weight: 300;
  line-height: 130%;
}
.otz-bottom{
  align-items: flex-start;
  display: flex;
  margin: 20px 0px 0px 0px;
  justify-content: space-between;
}
.otz-bottom-b{
  display: flex;
  flex-direction: column;
}
.otz-man {
color: #303233;
font-size: 10px;
font-weight: 400;
line-height: 130%;
}
.otz-company {
color: #739EEE;
font-size: 12px;
font-weight: 400;
line-height: 140%;
}

.formotz{
  width: 100%;
  max-width: 360px;
  background-color: #EDF3FF;
  padding: 20px 25px 25px 25px;
  border-radius: 8px;
  height: 360px;
  margin: 0px 20px 0px 0px;
}
.otz-top-left{
  margin: 0px 12px 0px 0px;
}
.otz-cont{
  padding: 25px;
}
.otz-top-r{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.otz-cont{

}
.otz-row{
  height: 100%;
}
.otz-top{
  height: 100%;
}

.section-comment-line .v-input--selection-controls{
  margin-top: 0px;
}
.section-comment-line .v-text-field{
  padding-top: 0px;
}
.section-comment-line .v-text-field > .v-input__control > .v-input__slot > .v-text-field__slot{
  border-radius: 5px;
  border-bottom: 1px solid #B1BED6;
  background: #F8F9FD;
  padding: 5px 15px;
}


.section-comment-line .v-application--is-ltr .v-text-field .v-label{
  top: 5px!important;
  left: 15px!important;
}
.theme--light.v-text-field > .v-input__control > .v-input__slot:before{
  display: none!important;
}
.section-comment-line .v-input input{
  padding: 0px;
}
.section-comment-line .v-text-field__details{
  display: none!important;
}
.section-comment-line .v-messages.theme--light{
  display: none!important;
}
.section-comment-line .v-input__slot{
  max-height: 70px;
}
.section-comment-line .v-text-field__slot{
  max-height: 70px;
}

.section-comment-line .v-input--radio-group--row .v-input--radio-group__input{
display: flex;
flex-direction: column;
}
.section-comment-line .v-radio:nth-of-type(2){
  margin: 5px 0px 0px 0px;
}
.v-application--is-ltr .v-text-field.gofile .v-label{
  top: 5px!important;
}
.ckeck-bl{
  display: flex;
  align-items: center;
}

.check-text{
  color: #909090;
  font-size: 10px;
  font-weight: 400;
  line-height: 140%; 
}

.check-text span{
color: #313654;
font-size: 10px;
font-weight: 400;
line-height: 140%;
}
.btn_otz .v-btn__content{
  color: #FFF;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 15.6px */
}
.v-btn.button-send-otz.btn_otz {
  border-radius: 5px;
  background: linear-gradient(45deg, #0B7455 0%, #06936A 100%);
}
.button-send-otz:hover .v-btn__content {
  color: #fff!important;
}
.v-btn.button-send-otz.btn_otz:hover {
  background: linear-gradient(88.32deg, #344597 0%, #496DA9 100%);
}
.otz-bl{
  padding: 0px 20px;
}
.v-input--selection-controls .v-input__slot > .v-label, .v-input--selection-controls .v-radio > .v-label{
  color: #313654;
}


.section-main .v-expansion-panel-header__icon{
display: none!important;
}

.section-main .v-expansion-panel::before{
  display: none;
}
.section-main .theme--light.v-expansion-panels .v-expansion-panel{
  background: none;
  box-shadow: none;
  border: 0px;
}
.sec-ic-arr{
  max-width: 12px;
}
.section-main .theme--light.v-expansion-panels .v-expansion-panel:not(:first-child)::after{
  display: none;
}

#id4{
  position: relative;
}
#id4::after{
  content: '';
  display: flex!important;
  background-image: url(./images/GroupLine.svg);
  position: absolute;
  width: 100%;
  height: 475px;
  z-index: 20;
  bottom: 0px;
  left: 0px;
 /* background-color: #272727a3;*/
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transform: translate(0%, 77%);
 /* max-width: 1200px;*/
  margin: auto;
}
#id2 .n2-prev{
  white-space: nowrap;
}



@media(max-width:1200px){
  .section-cont.section-cont-v2 .section-tt .section-sub{
    font-size: 14px;
    line-height: 1.2em;
  }
  .loyalty-row{
    width: 50%;
    padding: 10px;
  }
  .loyalty-block{
    flex-wrap: wrap;
    margin: 40px -10px 0px -10px;
  }

  .v-slide-group.v-item-group > .v-slide-group__prev{
    margin: 0px 20px 0px 0px;  
  }
  .v-slide-group.v-item-group > .v-slide-group__next {
   margin: 0px 0px 0px 20px;
  }
  .s-cl-im-d{
    max-height: 50px;
  }
  footer .fu-c{
    flex-direction: column;
  }
  #footerform{
    margin: 20px 0px 0px 0px;
  }
}
@media(max-width:1023px){
  .section-cont.section-cont-v2 .section-colii{
    max-width: 100%;
  }
}
.universalslider .row{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.universalslider .col-6{
  width: 100%;
  max-width: 100%;
}


.slidi{
height: fit-content;
}

.slidi .v-responsive__content{
height: fit-content;
}
.slidi .v-image__image--cover{
background-size: contain;
}
.universalslider .slidi{
  width: 100%;
  margin: 0px 0px 20px 0px;
}
.universalslider .imper{
  max-height: 100vw;
  min-height: 140vw;
  object-fit: contain;
}
.universalslider .v-responsive__content{
  height:  fit-content;
}
.universalslider .theme--light.v-image{
  height: fit-content!important;
}
.universalslider .v-window{
  height: fit-content!important;
}
.kjs .n2-l{
  margin: 40px 0px 0px 0px;
}









.universalslider .v-window__container{
padding: 0px 0px 40px 0px;
}
.universalslider .v-carousel__controls{
background: transparent;
display: flex;
justify-content: flex-end;
padding: 0px 40px 0px 0px;
}
.universalslider .mdi-circle::before{
background-color: #d9d9d9;
content: '';
width: 12px;
height: 12px;
border-radius: 100%;
}
.universalslider .v-btn--icon.v-size--small{
  margin: 0px;
}
.n2-st4 {
  margin: -40px 0px 0px 0px;
}
.universalslider .v-btn--icon.v-size--small.v-item--active .mdi-circle::before{
background-color: #90acd7;
}
.universalslider .v-carousel__controls:after{
content: '';
background-image: url('./images/n2-pre1v.svg');
position: absolute;
width: 30px;
height: 15px;
right: 0px;
}



.v-slide-group.v-item-group > .v-slide-group__next{
  margin: 0px 0px 0px 20px;
}

.v-slide-group.v-item-group > .v-slide-group__prev{
  margin: 0px 20px 0px 0px;
}






@media(max-width:1023px){
  .sline{
    margin: 80px 0px 0px 0px;
  }
  .s4-by{
    flex-direction: column;
  }
  .s4-rowy{
    width: 100%;
  }
  .s4-coly{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
  }
  .s4-coly *{
    text-align: center;
  }
  .s4 .s4-l{
    font-size: 64px;
  }
  .loyalty-row{
    width: 100%;
  }
  .loyalty-main-title{
    font-size: 32px;
    white-space: normal;
  }

  .section-bl11 .swiper-slid-col{
    margin: 0px;
  }
  .section-bl11 .section-bl11-t{
    margin: 0px;
  }
  #id4 .v-slide-group__prev{
    display: none!important;
  }
  #id4 .v-slide-group__next{
    display: none!important;
  }

  .n7 .n7-row{
    max-width: 45vw;
  }
  .n7 .n7-row *{
    white-space: normal;
  }
  #id4{
    margin: 80px 0px;
  }
  .vacansy{
    margin: 0px 0px 80px 0px;
  }


  .vacansy-h1{
    font-size: 32px;
  }
  .vacansy-h2{
    font-size: 24px;
    margin: 10px 0px 0px 0px;
  }
  .vacansy-h3{
    font-size: 16px;
    margin: 14px 0px 0px 0px;
  }
  .vacansy-card-t{
    margin: 0px 0px 14px 0px;
  }
  .vacansy-card {
    padding: 15px;
  }
  .vacansy-btn-contact{
    font-size: 12px;
  }


  .section-comment-line .v-slide-group__prev{
    display: none;
  }
  .section-comment-line .v-slide-group__next{
    display: none;
  }
  .section-comment-line{
    margin: 0px;
  }
  .s-cl-row{
    height: fit-content;
  }
  #cont{
    flex-direction: column;
    align-items: center;
  }
  footer .fu-b.nm{
    width: 100%;
    margin: 20px 10px 0px 10px;
    padding: 0px 10px;
  }
  #cont{
    margin: 60px 0px 0px 0px;
  }
  .loyalty-col{
    min-height: fit-content;
  }
  .loyalty-main-title{
    line-height: 1.2em;
  }
}







#id3 .v-window__container{
  padding: 0px 0px 40px 0px;
  }
  #id3 .v-carousel__controls{
  background: transparent;
  display: flex;
  justify-content: flex-end;
  padding: 0px 40px 0px 0px;
  }
  #id3 .mdi-circle::before{
  background-color: #d9d9d9;
  content: '';
  width: 12px;
  height: 12px;
  border-radius: 100%;
  }
  #id3 .v-btn--icon.v-size--small{
    margin: 0px;
  }
  .n2-st4 {
    margin: -40px 0px 0px 0px;
  }
  #id3 .v-btn--icon.v-size--small.v-item--active .mdi-circle::before{
  background-color: #90acd7;
  }
  #id3 .v-carousel__controls:after{
  content: '';
  background-image: url('./images/n2-pre1v.svg');
  position: absolute;
  width: 30px;
  height: 15px;
  right: 0px;
  }

  .theme--light.v-image{
    height: fit-content!important;
  }
  .v-carousel{
    height: fit-content!important;
  }
  #id3 .v-carousel .v-window-item{
    max-width: 35vw;
  }


  .form-well .v-text-field__slot {
    padding: 10px 17px;
    border-radius: 15px;
    background: rgba(242,243,244,0.21961);
    /*margin: 0px 0px 20px 0px;*/
    width: 100%;
  }
  .form-well .v-text-field .v-label{
    top: 15px!important;
    font-size: 14px;
    font-weight: 500;
    left: 15px!important;
    color: #e6e3ff7a !important
  }
  .form-well .v-text-field input{
    font-size: 14px;
  }

  .form-well .v-text-field.v-input--is-focused > .v-input__control > .v-input__slot:after{
    display: none;
  }
  .form-well .v-input__slot{
    margin-bottom: 0px;
  }
  .form-well .v-text-field{
    padding-top: 0px;
  }
  .form-well .novaid .v-input__slot{
    border: 1px solid #c05151;
    border-radius: 15px;
  }
  .form-well .novaid.v-text-field .v-label {
    color: #c05151!important;
  }


  #__layout .v-card__title{
    display: flex;
    justify-content: center;
  }
  #__layout .v-card__text{
    display: flex;
    justify-content: center;
    text-align: center;
  }
  #__layout .v-card__actions {
    display: flex;
    justify-content: center;
  }
  .fank .section-btn {
  }
  .section-btn-v1 {
  }
  .fank .v-btn {
  }
  .v-btn--is-elevated {
  }
  .v-btn--has-bg {
  }
  .theme--light {
  }
  .v-size--default {
  }
  .v-btn__content {
  }
  .v-card__actions > .v-btn.v-btn{
    color: #fff;
  }
/*  #__layout .v-dialog__content.v-dialog__content--active {
    z-index: 1000002!important;
}*/
.theme--light.v-btn.v-btn--has-bg:hover{
  background: linear-gradient(88.32deg, #344597 0%, #496DA9 100%);
}
 .v-application--is-ltr .formotz .v-text-field .v-label{
  left: 15px!important;
  top: 5px!important;
}

#footerform .v-text-field__slot{
  border-bottom: 1px solid #909090;
}
.v-text-field > .v-input__control > .v-input__slot:after{

}
.v-application #footerform .primary--text{
  color: #909090 !important;
  caret-color: #909090 !important;
}
.v-text-field.v-input--is-focused > .v-input__control > .v-input__slot:after{
  transform: scaleX(0)!important;
}
#footerform .theme--light.v-label{
  color: #909090 !important;
  caret-color: #909090 !important;
}
.ckeck-bl.novalid i{
  color: #dd2c00 !important;
  caret-color: #dd2c00 !important;
}
.check-text{
  margin: 5px 0px 0px 0px;
}
.ckeck-bl .v-messages.theme--light.error--text{
  display: none;
  margin-top: 0px;
}
#footerform .novaid .v-text-field__slot{
  border-bottom: 1px solid #c05151;
}
.ckeck-bl.novalid{
  margin: 0px;
}
.ckeck-bl .v-input--selection-controls.v-input{
  margin-top: 14px;
}
#footerform .novaid.v-text-field .v-label {
  color: #c05151!important;
}
#footerform .check-text{
font-size: 14px;
display: flex;
white-space: nowrap;
}
#footerform .exit-btn{
font-size: 14px;
color: #fff;
}
.n2-r{
  cursor: pointer;
}

@media(max-width:767px){
  .sline .sline-t br{
    display: none;
  }
  .n2 .n2-title{
    width: 100%;
    text-align: center;
    color: #313654;
    font-size: 32px;
    font-weight: 600;
    letter-spacing: -2.24px;
    opacity: 1;
  }
  .n2 .n2-t{
    color: #739EEE;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: -0.6px;
  }
  .n2 .n2-b{
    color: rgba(36, 36, 36, 0.80);
    font-size: 16px;
    opacity: 1;
    font-weight: 400;
    line-height: 18px; /* 112.5% */
    letter-spacing: -0.32px;
  }
  .n2 .n2-c-t{
    color: #989AA7;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.6px;
    opacity: 1;
  }
  .n2 .n2-c-b{
    color: rgba(36, 36, 36, 0.80);
    font-size: 16px;
    opacity: 1;
    font-weight: 400;
    line-height: 18px; /* 112.5% */
    letter-spacing: -0.32px;
  }
  .n2 .n3-c-b{
    color: #739EEE;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.32px;
  }
  .section.n2{
    position: relative;
  }
  .section.n2::after{
    content: '';
    background-image: url('./images/casemobelem1.svg');
    width: 120px;
    height: 167px;
    right: 0px;
    top: 0px;
    position: absolute;
  }
  .section.n2{
    background-size: 150px;
  }
  .s4 .s4-r{
    color: #909090;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px; 
    letter-spacing: -0.32px;
    max-width: 250px;
  }
  .s4-coly span{
    color: #436BB6;
    font-size: 32px;
    font-weight: 300;
    line-height: 100%;
    left: auto;
  }
  .n4-image-bl{
    display: none;
  }
  .n4-b-bl-top{
    display: flex;
    flex-direction: column;
  }
  .n4-b-bl-top .n4-row{
    width: 100%;
  }
  .n4-b-bl-center-r{
    flex-direction: column;
    display: flex;
    width: 100%;
  }
  .n4-b-bl-center-r .n4-row{
    width: 100%;
  }
  .n4 .n4-l-t{
    width: 100%;
    text-align: center;
    color: #313654;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: -2.24px;
    opacity: 1;
  }
  .n4-title{
    padding: 10px 0px;
    color: #739EEE;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px; 
    letter-spacing: -0.6px;
  }
  .n4-row{
    margin: 0px 0px 20px 0px;
    padding: 0px 0px 10px 0px;
    border-bottom: 1px solid #739EEE;
  }
  .n4-text{
    color: rgba(36, 36, 36, 0.80);
    font-size: 16px;
    font-weight: 400;
    line-height: 18px; 
    letter-spacing: -0.32px;
  }
  .n4 .boom{
    justify-content: center;
  }
  .loyalty-main-title{
    width: 100%;
    color:  #313654;
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: -2.24px;
    opacity: 1;
  }

  .s3 .s3-r-b{
    color: #313654;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.6px;
  }
  
}

@media(max-width:767px){
  .section-bl11 .section-bl11-b-title:after{
    display: none;
  }
  .otz-title:after{
    display: none;
  }
  .universalslider .swiper3-t{
    transform: translate(0px, 110px);
  }
  .universalslider .swiper3-r{
    font-size: 18px;
  }
  .universalslider .v-responsive__content{
    max-height: 142vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .s3 .s3-r-b{
    margin: 0px 0px 10px 0px;
  }
  .section .container .section-cont.section-cont-v1 .section-row .section-c-col{
    align-items: center;
  }
  .n5 .n5-t{
    text-align: center;
    font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 24px; /* 120% */
letter-spacing: -0.6px;
  }
  .n5 .n5-b{
    text-align: center;
    font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: -0.6px;
  }
  .n5 br{
    display: none;
  }
  .n5{
    background-image: none;
  }
  .section-cont.section-cont-v2 .section-row.section-row-title .section-row-tit{
    font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: 36px; /* 112.5% */
letter-spacing: -2.24px;
text-align: center;
width: 100%;
  }
  .section-cont.section-cont-v2 .section-row.section-row-title{
    margin: 0px 0px 40px 0px;
  }
  .section-cont.section-cont-v2 .section-tt .section-t{
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 120% */
    letter-spacing: -0.6px;
    color: #739EEE;
    margin: 0px 0px 5px 0px;
text-align: center;
  }
.section-cont.section-cont-v2 .section-tt .section-sub{
  color: #242424;
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 300;
line-height: 18px; /* 112.5% */
letter-spacing: -0.32px;
}
.section-cont.section-cont-v2 .section-col{
  padding: 25px 15px;
  border-radius: 15px;
border: 1px solid #DFDFDF;
background: #FFF;

}
.section-cont.section-cont-v2 .section-col:hover{
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.s3 .s3-l-t{
  margin: 0px 0px 40px 0px;
}
.section-cont.section-cont-v2{
  margin: 15px 0px 40px 0px;
}
.section .container .section-cont.section-cont-v1 .section-row .section-c-col{
  flex-direction: column!important;
  justify-content: center;
  align-items: center;
}
.section .container .section-cont.section-cont-v1 .section-row .section-c-col .section-c-text{
  color:  #313654;
text-align: center;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 24px; 
letter-spacing: -0.6px;
margin: 10px 0px 0px 0px;
}
.section .container .section-cont.section-cont-v1 .section-row .section-c{
  background-image: url('./images/vectorelem1.svg');
  background-position: center;
  background-size: cover;
}
.s3.nm{
  background-image: none;
}

.formotz-mobile{
  margin: 40px 0px 0px 0px;
}
.section-comment-line{
  padding: 0px 0px 80px 0px;
}

.section.s4{
  background-image: url('./images/elemnumeri.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10px 0px ;
}
.otz-bl{
  padding: 0px;
}
.otz-cont{
  padding: 0px;
  background: none;
}
.otz-top{
  flex-direction: column;
}
.otz-top-left{
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.otz-top-r{
  max-height: 360px;
  padding: 20px 10px;
  border-radius: 15px;
  border-radius: 15px;
background: #F1F4FA;
min-height: 360px;
}
.otz-text{
  font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 18px; /* 128.571% */
letter-spacing: -0.28px;
}
.otz-man{
  font-size: 16px;
}
.otz-company{
  font-size: 16px;
}
.otz-cont{
  height: fit-content;
}
.section-comment-line .v-carousel .v-window-item{
  margin: 0px 0px 20px 0px;
}
.formotz{
  height: fit-content;
}
footer .fu-b.nm{
  padding: 20px 10px;
}
.section .container {
  max-width: calc(100vw - 40px);
}
footer .section{
  max-width: calc(100vw - 40px);
}
.section-main .theme--light.v-expansion-panels .v-expansion-panel{
  padding: 0px;
}
.vacansy-title{
  text-align: center;
}
.v-application--is-ltr .v-expansion-panel-header{
  color: #B8B8B8;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 120% */
letter-spacing: -0.6px;
text-transform: uppercase;
}

.v-application--is-ltr .v-expansion-panel-header{
  padding: 20px 0px 0px 0px;
}
.vacansy-col{
  padding: 0px 0px 10px 0px;
}
.v-expansion-panels:not(.v-expansion-panels--accordion):not(.v-expansion-panels--tile) > .v-expansion-panel--active{
  border: 0px;
}
.v-expansion-panel-content{
  padding: 20px 0px 0px 0px;
}
.v-expansion-panel-content.vacansy-item .v-expansion-panel-content__wrap{
  padding: 0px;
}
.v-expansion-panel-content.vacansy-item .v-expansion-panel-content__wrap{
  background: linear-gradient(180deg, #FBFCFF 0%, #FFFDFA 100%);
  mix-blend-mode: multiply;
}
.formotz{
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section-bl11 .section-bl11-b-title{
  color: #313654;
text-align: center;
font-size: 32px;
width: 100%;
text-align: center;
font-weight: 700;
line-height: 36px; 
letter-spacing: -2.24px;
}
.section-bl11 .section-bl11-title-line{
  display: none;
}
.section-bl11 .section-bl11-t{
  margin: 0px 0px 30px 0px;
}
.otz-cont{
  width: 100%;
  max-width: 100%;
}
.section.n7 .n2-st4{
  margin: 0px 0px 0px 0px;
}
.form-out{
  border-radius: 20px!important;
}
#footerform .check-text{
  white-space: normal;
  display: grid;
}






}
.loyaltyslider{
  padding: 40px 0px 20px 0px;
}
.section-bl5 .maininput{
  width: 100%;
}
.v-navigation-drawer{
  width: 100vw!important;
  max-width: 100vw!important;
}
.v-application--wrap{
  z-index: 100001;
}
.v-application a{
  color: #313654;
}
.header-bottom.menu-act ul{
  padding: 0px;
}
.v-dialog{
  box-shadow: none!important;
}
.n2-contain *{
  cursor: auto!important;
}
.loyalty-textex{
  margin: 10px 0px 0px 0px;
}